<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Agregar Cita </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="agregarCita">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input
              label="Nombre del doctor"
              labelPlacement="floating"
              placeholder="Ingresa el nombre del doctor"
              formControlName="cit_doctor"
              class="form-control"
              type="text"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-input
              label="Número del doctor"
              labelPlacement="floating"
              placeholder="Ingresa el número del doctor"
              formControlName="cit_numdoctor"
              class="form-control"
              type="text"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-input
              label="Asunto de la cita"
              labelPlacement="floating"
              placeholder="Indica el asunto de la cita médica"
              formControlName="cit_asunto"
              class="form-control"
              type="text"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-input
              label="Fecha de la cita"
              labelPlacement="floating"
              formControlName="cit_fecha"
              class="form-control"
              type="date"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button
              type="submit"
              color="danger"
              size="large"
              expand="block"
            >
              <ion-thumbnail>
                <ion-img
                  src="assets/icon/agregarcita.png"
                  alt="Agendar Cita"
                ></ion-img>
              </ion-thumbnail>
              Agendar Cita
            </ion-button>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" size="large" (click)="regresar()">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Regresar
  </ion-button>
</ion-footer>
