ion-title {
  --color: #000;
  font-size: 28px;
}

ion-toolbar {
  --background: #f2f3f5;
}

ion-thumbnail {
  --size: 50px;
  --border-radius: 14px;
  margin-right: 10px;
}

.menu-list {
  > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
