<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/icon/logo.png" alt="TimePlanner Logo" width="30%" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="menu-list">
    <ion-button
      [routerLink]="['/medicamentos']"
      color="danger"
      size="large"
      expand="block"
    >
      <ion-thumbnail>
        <ion-img src="assets/icon/medicamento.png" alt="Medicamento"></ion-img>
      </ion-thumbnail>
      Medicamentos
    </ion-button>
    <ion-button
      [routerLink]="['/citas']"
      color="danger"
      size="large"
      expand="block"
    >
      <ion-thumbnail>
        <ion-img
          src="assets/icon/agregarcita.png"
          alt="Citas Médicas"
        ></ion-img>
      </ion-thumbnail>
      Citas Médicas
    </ion-button>
    <ion-button
      [routerLink]="['/familiar']"
      color="danger"
      size="large"
      expand="block"
    >
      <ion-thumbnail>
        <ion-img src="assets/icon/hogar.png" alt="Miembro Familiar"></ion-img>
      </ion-thumbnail>
      Miembro Familiar
    </ion-button>
    <ion-button
      [routerLink]="['/mi-perfil']"
      color="danger"
      size="large"
      expand="block"
    >
      <ion-icon
        name="person-circle-outline"
        size="large"
        slot="start"
      ></ion-icon>
      Mi Perfil
    </ion-button>
  </div>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" size="large" (click)="introduccion()">
    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
    Ver Introducción
  </ion-button>
</ion-footer>
