<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item button *ngFor="let usuario of usuarios">
        <ion-label
          >{{ usuario.usu_nombre }} {{ usuario.usu_apellido }}</ion-label
        >
      </ion-item>
    </ion-list>
  </div>
</ion-content>
